/* This stylesheet is used to display the individual prayers */

/* teiHeader {
  display: none;
} */

title{
    display: block;
    font-size: 28pt;
    position: fixed;
    right: 0;
    width: 30%;
    padding: 20pt;
    background-color: white;
    border: 1pt solid darkred;
}

respStmt {
    display: none;
}
authority:before{
    content: "\a";
    white-space: pre;
}
authority {
    position: fixed;
    right: 15pt;
    top: 0;
    color: lightgray;
    font-style: italic;
}

msDesc idno {
    display: none;
}

msContents {
    display: none;
}

body {
    display: block;
    font-family: "Andron Corpus";
    margin-left: 150pt;
    margin-right: 15pt;
    margin-top: 15pt;
    margin-bottom: 15pt;
    font-size: 14pt;
    line-height: 14pt;
    text-align: left
}

/* Section or text headers: Float left */

head {
    display: inline;
    float: left;
    width: 0pt;
    margin-left: -100pt;
    font-style: italic;
}

pb:after {
    display: block;
    color: lightgray;
    margin-top: 7pt;
    margin-left: 35pt;
    content: attr(n);
}

div[type = "rubric"]{
    color: darkred;
}

div[type = "incipit"]{
    text-decoration: underline;
}

lb:after {
  content: "\a";
  white-space: pre
}

ex {
  font-style: italic;
}

del {
  text-decoration: line-through
}

w[lemma]:hover:after {
  content: attr(lemma);
  display: inline;
  float: left;
  width: 0pt;
  margin-left: -100pt;
  font-style: italic;
  color: cornflowerblue
}

/* w:has(>hi[rend~="2"]) {
    display: inline-block;
    float: left;
} */

w:hover {
  background-color: lightgray
}
/* TODO: Hover-over to get lemma */

hi[rend~="red"] {
  color: darkred
}

hi[rend~="blue"] {
  color: blue
}

hi[rend~="green"] {
  color: green
}

hi[rend~="gold"] {
  color: gold
}

hi[rend~="2"] {
  display: inline-block;
  float: left;
  margin-top: 7pt;
  font-size: calc(200%)
}

hi[rend~="3"] {
  display: inline-block;
  float: left;
  margin-top: 14pt;
  font-size: calc(300%)
}

hi[rend~="4"] {
  display: inline-block;
  float: left;
  margin-top: 21pt;
  font-size: calc(400%)
}

hi[rend~="5"] {
  display: inline-block;
  float: left;
  margin-top: 28pt;
  margin-bottom: 14pt;
  font-size: calc(500%)
}

hi[rend~="6"] {
  display: inline-block;
  float: left;
  margin-top: 35pt;
  font-size: calc(600%)
}

hi[rend~="7"] {
  display: inline-block;
  float: left;
  margin-top: 42pt;
  font-size: calc(700%)
}

hi[rend~="8"] {
  display: inline-block;
  float: left;
  margin-top: 49pt;
  font-size: calc(800%)
}

hi[rend~="9"] {
  display: inline-block;
  float: left;
  margin-top: 56pt;
  margin-bottom: 49pt;
  font-size: calc(900%);
}

hi[rend~="10"] {
  display: inline-block;
  float: left;
  margin-top: 63pt;
  font-size: calc(1000%)
}

hi[rend~="11"] {
  display: inline-block;
  float: left;
  margin-top: 70pt;
  font-size: calc(1100%)
}

hi[rend~="12"] {
  display: inline-block;
  float: left;
  margin-top: 77pt;
  margin-bottom: 70pt;
  font-size: calc(1200%)
}

/* Some bottom margins need to be fixed (cf rend 12) */
